.navbar-web{
  color: #9d9d9d;
}
@media (min-width: 768px) {
  .center-thing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.fullscreen { 
    min-height: 100%;
    height: 100%;
}
